<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:dd="http://typo3.org/ns/Faulancr/DdBoilerplate/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">
    <div class="container">
        <main>
            <f:cObject typoscriptObjectPath="lib.content" data="0">
                Hier ist der Inhalt der Hauptspalte{}
            </f:cObject>
            <f:render partial="Navigation/Main">
                Navigation
            </f:render>
            <f:if condition="{menu}">
                <ul class="c-project-list">
                    <f:for each="{menu}" as="page">
                        <li class="c-project-list__item">
                            <a href="{page.link}" target="{page.target}" title="{page.title}">
                                <f:if condition="{page.files.0}">
                                    <figure class="effect-sadie">
                                        <f:if condition="{page.files.0.extension} == 'gif'">
                                            <f:then>
                                                <dd:animatedGif file="{page.files.0}" class="lazy-image" />
                                            </f:then>
                                            <f:else>
                                                <f:switch expression="{page.files.0.type}">
                                                    <f:case value="3">
                                                        case 3
                                                    </f:case>
                                                    <f:case value="4">
                                                        <video class="lazy-image" controls="none" autoplay loop tabindex="0" data-src="/fileadmin/{page.files.0.identifier}" >
                                                            <source type="video/mp4" src=""/>
                                                        </video>
                                                    </f:case>
                                                    <f:defaultCase>
                                                        <img class="lazy-image" src="/typo3conf/ext/ddboilerplate/Resources/Public/Images/Icons/ff_logo.svg" data-src="{f:uri.image(image:page.files.0, maxWidth: '640')}" alt="{page.files.0.alt}" title="{page.files.0.title}" width="{page.files.0.properties.width}" height="{page.files.0.properties.height}" />
                                                    </f:defaultCase>
                                                </f:switch>
                                            </f:else>
                                        </f:if>
                                        <figcaption>
                                            <h2>{page.title}</h2>
                                        </figcaption>
                                    </figure>
                                </f:if>
                            </a>
                        </li>
                    </f:for>
                </ul>
            </f:if>
            <f:cObject typoscriptObjectPath="lib.navigation.pageSlide"/>
        </main>
        <aside>
            <f:cObject typoscriptObjectPath="lib.content" data="1">
                Hier ist der Inhalt der Seitenleiste
            </f:cObject>
        </aside>
    </div>
</f:section>
</html>

