.idea

/Build/node_modules

/vendor

/Web/typo3temp
/Web/typo3
/Web/fileadmin/_processed_
/Web/fileadmin/_temp_
/Web/uploads
/Web/index.php
/Web/info.php
/Web/typo3conf/deprecation*.log
/Web/typo3conf/AdditionalConfiguration
/Web/fileadmin/fotografie-frei/
/Web/typo3conf/ext/mask/
/Web/typo3conf/ext/realurl/
/Web/typo3conf/ext/staticfilecache/
/Web/fileadmin/user_upload/
/Web/typo3conf/ext/html_compress/
