<footer class="footer footer__page">
    <section class="container">
        <a class="footer__page--close" href="#">
            <svg class="icon icon--close" viewBox="0 0 16 16">
                <use xlink:href="typo3conf/ext/ddboilerplate/Resources/Public/Images/Icons/ff-icon-sprite.svg#icon--close"></use>
            </svg>
        </a>
        <div class="col col-50">
            <h3>Kontakt</h3>
            <p>Dirk Döring<br/>+49 179 20 30 516<br/><a href="mailto:hello@dirkdoering.de">hello@dirkdoering.de</a></p>
        </div>
        <div class="col col-50">
            <h3>Adresse</h3>
            <p>Marsstraße 17<br/>80335 München<br/><br/><a href="/impressum/" title="Impressum">Impressum</a></p>
        </div>
        <f:cObject typoscriptObjectPath="lib.navigation.footer" />
    </section>
</footer>